/* ===== Tarjeta ===== */
.card {
    border: none;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: all 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* ===== Título ===== */
.card h5 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #232526;
}

/* ===== Labels ===== */
.form-label {
    font-weight: 600;
    color: #444;
}

/* ===== Inputs y Selects ===== */
.form-control, 
.form-select {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px;
    transition: border 0.2s, box-shadow 0.2s;
}
.form-control:focus,
.form-select:focus {
    border-color: #2081FF;
    box-shadow: 0 0 0 0.2rem rgba(32, 129, 255, 0.25);
}

/* ===== Botones ===== */
.btn {
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 20px;
}
.btn-outline-secondary {
    border-width: 2px;
}
.btn-success {
    background: linear-gradient(90deg, #1e7d52, #28a745);
    border: none;
}
.btn-success:hover {
    background: linear-gradient(90deg, #28a745, #1e7d52);
}

/* ===== SPLASH ===== */
.container .card {
    animation: fadeIn 0.9s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Estilo base para el select */
.form-select {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px;
    transition: border 0.2s, box-shadow 0.2s;
    box-shadow: none !important; /* Sombras*/
}

/* Cuando el select está en foco (clic o desplegado) */
.form-select:focus {
    border-color: #2081FF !important;
    box-shadow: 0 0 0 0.2rem rgba(32, 129, 255, 0.25) !important;
    outline: none !important; /* Lineas Grandes */
}

/* ===== Boton de bg success y bg danger de /dashboard ===== */
.badge.bg-danger {
    border: 2px solid #ff4d4f;
}
.badge.bg-success {
    border: 2px solid #28a745;
}

.btn.btn-sm.btn-info {
    padding: 0.1rem 0.4rem;
    border-radius: 0.375rem;
    min-width: 50px;

}
/*---------------DataTable de /dashboard----------------*/

a.btn.btn-primary {
    padding: 0.1rem 1rem;
    font-size: 0.875rem;
}

/* Ocultar Paginación */
.dataTables_info {
    display: none !important;
}
.dataTables_paginate {
    display: none !important;
}

/*Buscador de DataTables*/
.dataTables_wrapper .row:first-child {
    display: flex;
    flex-direction: column-reverse;
}
.dataTables_wrapper .row:first-child {
    display: flex;
    flex-direction: column-reverse;
}

/*l*/
